/*Common style start here*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.primery-btn {
  border-radius: 5px;
  background: #FD6E0A;
  color: #FFF;
  font-size: 18px;
  font-weight: 700px;
  padding: 8px 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

/*Common style start here*/

/*Nav styles start here*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0px 200px;
}

.title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.title>span {
  color: #FD6E0A;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #474747;
  font-size: 18px;
  font-weight: 400;
}

/*Nav styles end here*/

/*Header styles start here*/
header {
  background-color: #FFF8F3;
}

.banner {
  display: flex;
  align-items: center;
  background-image: url("../images/header_bg.png");
  padding: 30px 30px 0px 150px;
}

.banner-title {
  color: #474747;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.banner-uname {
  color: #181818;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.banner-desc {
  color:  #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.contact-mebtn{
  background-color: transparent;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
  margin-left: 5px; 
}
.banner-image{
  width: 500px;
}
/*Header styles end here*/