/*Common style start here*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.primery-btn {
  border-radius: 5px;
  background: #FD6E0A;
  color: #FFF;
  font-size: 18px;
  font-weight: 700px;
  padding: 8px 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

.primery-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

/*Common style start here*/

/*Nav styles start here*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0px 200px;
  background-color: transparent;
}

.title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.title>span {
  color: #FD6E0A;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #474747;
  font-size: 18px;
  font-weight: 400;
}

/*Nav styles end here*/

/*Header styles start here*/
header {
  background-color: #FFF8F3;
}

.banner {
  display: flex;
  align-items: center;
  background-image: url('../images/header_bg.png'), url('../images/developer.png');
  z-index: 1;
  background-repeat: no-repeat;
  background-position: bottom right, top left;
  padding: 30px 30px 0px 200px;
}

.banner-title {
  color: #474747;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-uname {
  color: #181818;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
}

.banner-desc {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.contact-mebtn {
  background-color: transparent;
  border: 1px solid #FD6E0A;
  color: #FD6E0A;
  margin-left: 5px;
}

.banner-image {
  height: 730px;
  margin-bottom: 0px;
}

/*Header styles end here*/


main {
  max-width: 1240px;
  margin: auto;
}

/*About section styles start here*/

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1140px;
  height: 550px;
  margin: 120px 0px;
  border-radius: 10px;
  background: #FFF8F3;
}

.about-content {
  padding: 150px;
}

.about-desc {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
}

.about-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.about-info-container div {
  text-align: center;
}

/*About section styles end here*/

/*Skill section styles end here*/
.skill-content {
  padding: 150px;
}

.skill-desc {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

.skill-card-container {
  display: flex;
}

.card {
  margin: 25px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
  padding: 20px;
  
}

.card p {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

.card img{
  margin-bottom: 20px;
}
/*Skill section styles end here*/