/*Common style start here*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.primery-btn {
  border-radius: 5px;
  background: #FD6E0A;
  color: #FFF;
  font-size: 18px;
  font-weight: 700px;
  padding: 8px 15px;
  border: none;
  outline: none;
}

/*Common style start here*/

/*Nav styles start here*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.title>span {
  color: #FD6E0A;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #474747;
  font-size: 18px;
  font-weight: 400;
}

/*Nav styles end here*/